@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "~@flaticon/flaticon-uicons/css/all/all";
/* root variables: color palette, spaces */
:root {
  --text: #000203;
  --text: #0f0f10;

  --background: #ffffff;
  --background: #f9fcff;

  --primary: #5ab2ff;
  --secondary: #fff9d0;
  --accent: #a0deff;
  --danger: #df6873;
  --warning: #f0e56a; /*f0e56a  ebdb2b*/
  --success: #6cc66f;

  --text-50: #f2f2f3;
  --text-100: #e5e5e6;
  --text-200: #cacace;
  --text-300: #b0b0b5;
  --text-400: #96969c;
  --text-500: #7c7c83;
  --text-600: #636369;
  --text-700: #4a4a4f;
  --text-800: #313135;
  --text-900: #19191a;
  --text-950: #0c0c0d;

  /* --text-50: #e5f6ff;
  --text-100: #cceeff;
  --text-200: #99ddff;
  --text-300: #66ccff;
  --text-400: #33bbff;
  --text-500: #00aaff;
  --text-600: #0088cc;
  --text-700: #006699;
  --text-800: #004466;
  --text-900: #002233;
  --text-950: #00111a; */

  /* --background-50: #f2f2f2;
  --background-100: #e6e6e6;
  --background-200: #cccccc;
  --background-300: #b3b3b3;
  --background-400: #999999;
  --background-500: #808080;
  --background-600: #666666;
  --background-700: #4d4d4d;
  --background-800: #333333;
  --background-900: #1a1a1a;
  --background-950: #0d0d0d; */

  --background-50: #e5f2ff;
  --background-100: #cce5ff;
  --background-200: #99ccff;
  --background-300: #66b2ff;
  --background-400: #3399ff;
  --background-500: #007fff;
  --background-600: #0066cc;
  --background-700: #004c99;
  --background-800: #003366;
  --background-900: #001933;
  --background-950: #000d1a;

  --primary-25: #f1f7fb;
  --primary-50: #e5f3ff;
  --primary-100: #cce7ff;
  --primary-200: #99cfff;
  --primary-300: #66b8ff;
  --primary-400: #33a0ff;
  --primary-500: #0088ff;
  --primary-600: #006dcc;
  --primary-700: #005299;
  --primary-800: #003666;
  --primary-900: #001b33;
  --primary-950: #000e1a;

  --secondary-50: #fffce5;
  --secondary-100: #fff8cc;
  --secondary-200: #fff199;
  --secondary-300: #ffeb66;
  --secondary-400: #ffe433;
  --secondary-500: #ffdd00;
  --secondary-600: #ccb100;
  --secondary-700: #998500;
  --secondary-800: #665800;
  --secondary-900: #332c00;
  --secondary-950: #1a1600;

  --accent-50: #e5f6ff;
  --accent-100: #ccedff;
  --accent-200: #99dbff;
  --accent-300: #66c9ff;
  --accent-400: #33b8ff;
  --accent-500: #00a6ff;
  --accent-600: #0085cc;
  --accent-700: #006399;
  --accent-800: #004266;
  --accent-900: #002133;
  --accent-950: #00111a;
  /* Spacing */
  --space-1x: 8px;
  --space-2x: 16px;
  --space-3x: 24px;
  --space-4x: 32px;
  --space-5x: 40px;
  /* Sizing */
  --icon-size-sm: 16px;
  --icon-size-md: 20px;
  --icon-size-lg: 24px;
  --icon-size-xl: 32px;
}
/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
/* Font style */
body {
  font-family: "Inter";
  font-weight: 400;
  color: var(--text);
}
input,
select,
textarea {
  font-size: 100%;
  font-family: "Inter";
  font-weight: 400;
  color: var(--text);
}
h1,
h2,
h3,
h4,
h5,
.h4 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4,
.h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

/* General */
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.icon {
  display: flex;
  align-items: center;
  padding: var(--space-1x);
  border-radius: var(--space-1x);
  font-size: var(--icon-size-md);
}

.clickable-icon {
  display: flex;
  align-items: center;
  padding: var(--space-1x);
  border-radius: var(--space-1x);
  font-size: var(--icon-size-md);
}

.clickable-icon:hover {
  background-color: var(--text-50);
  cursor: pointer;
}

.check-box {
  display: flex;
  align-items: center;
  padding: 0px;
  border-radius: 0px;
  color: var(--text-300);
}

.check-box:hover {
  color: var(--text-600);
}

.edit-icon {
  font-size: var(--icon-size-lg);
  color: var(--text-400);
}

.edit-icon:hover {
  color: var(--text-500);
}

.default-priority {
  color: var(--text-300);
}

.low-priority {
  color: var(--success);
}

.medium-priority {
  color: var(--warning);
}

.high-priority {
  color: var(--danger);
}

/* Main container */
.main-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 4fr 4fr;
}
.col {
  border-right: 1px solid var(--text-300);
  padding: var(--space-4x);
}
a {
  text-decoration: none;
  color: inherit;
}

/* Side Bar */
.menu-segment-heading {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
  padding: var(--space-1x);
  margin: var(--space-3x) 0px 0px;
  font-weight: bold;
  color: var(--primary-600);
}

.menu-segment-heading > .icon {
  color: var(--primary-600);
}

.menu-elements {
  list-style: none;
  padding: 0;
}

.menu-elements > li {
  display: flex;
  align-items: center;
  gap: var(--space-1x);
  padding: calc(var(--space-1x) * 1) var(--space-1x);
  border-radius: var(--space-1x);
}

.menu-elements > li:hover,
.menu-segment-heading:hover {
  background-color: var(--primary-25);
}
.menu-elements i {
  color: var(--text-400);
}
.menu-elements i {
  color: var(--text-400);
}
.menu-highlight {
  color: var(--primary-600);
  font-weight: bold;
}
.menu-highlight > i {
  color: var(--primary-600);
}
/* Selected menu item */
.selected-menu-element {
  background-color: var(--primary-50);
  color: var(--primary-600);
}
li.selected-menu-element:hover {
  background-color: var(--primary-50);
  color: var(--primary-600);
}

.selected-menu-element i {
  color: var(--primary-600);
}

/* Main */
.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-2x);
}

.main-desc {
  color: var(--text-500);
  margin-bottom: var(--space-3x);
}

/* Main -> item */
.main-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2x);
  border-radius: var(--space-1x);
  border-bottom: 1px inset;
}
.main-item:hover {
  background-color: var(--primary-25);
}

.selected-task-element,
.selected-task-element:hover {
  background-color: var(--primary-50);
}

.main-item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-item-desc .check-box {
  margin-right: var(--space-2x);
}

.main-item-date {
  color: var(--primary-600);
}

.main-item-desc .priority-icon {
  font-size: var(--icon-size-sm);
  margin: 0px var(--space-1x);
}

.item-task-complete {
  color: var(--text-400);
}

/* Task section */
.task-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-2x);
}

.task-check-date {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}

.task-date {
  color: var(--primary-600);
}

.task-title {
  display: flex;
  justify-content: space-between;
  gap: var(--space-1x);
  margin-bottom: var(--space-3x);
}

.task-title .priority-icon {
  align-items: flex-start;
}

.task-desc {
  color: var(--text-600);
  white-space: pre-wrap;
}

/* Dialog */
dialog {
  background-color: var(--background);
  margin: auto auto;
  border-radius: var(--space-1x);
  border: 0px;
  padding: var(--space-4x);
}

#task-form,
#project-form {
  min-width: min(50vw, 1000px);
}
#task-form > form,
#project-form > form {
  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
  flex-grow: 1;
  min-height: 100%;
}

.dialog-header {
  color: var(--text-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Dialog -> Form Buttons */
.button-group {
  display: flex;
  gap: var(--space-1x);
}

.button-group > button {
  cursor: pointer;
  border-radius: var(--space-1x);
  border: 0;
}

.button-group .icon {
  color: var(--text-500);
}

.icon-cross {
  font-size: var(--icon-size-sm);
  padding: calc(var(--space-1x) * 1.25);
}

/* Dialog -> Input */
input {
  border: 0px;
  padding: 0px;
  border-radius: var(--space-1x);
  background-color: var(--background);
  /* padding: var(--space-1x) var(--space-2x); */
  /* border: 1px var(--text-500) solid; */
}

input:focus-visible {
  /* outline: 1px var(--primary-400) solid; */
  outline: 0px;
}

.input-status-date {
  display: flex;
  align-items: center;
  gap: var(--space-2x);
}

input#dueDate {
  border: 0;
  background-color: var(--background);
  color: var(--primary-600);
  width: 130px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3x);
}

.input-group-left {
  flex-grow: 1;
}

input#title {
  width: 100%;
  border-radius: 0px;
}

.input-group-right {
  max-width: 160px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  flex-grow: 1;
  gap: var(--space-1x);
}

.input-group-right > label {
  color: var(--text-500);
}

select {
  border: 1px var(--text-200) solid;
  border-radius: var(--space-1x);
  padding: var(--space-1x) var(--space-1x);
  width: 100%;
}

select:focus-visible {
  outline: 1px var(--text-400) solid;
}
.desc-area {
  flex-grow: 1;
}
textarea {
  resize: none;
  width: 100%;
  min-height: 100%;
  padding: var(--space-2x);
  border: 0;
  border-radius: var(--space-1x);
}

textarea:focus-visible {
  outline: 1px var(--text-400) solid;
}

@media (max-width: 1000px) {
  .main-grid {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
  }
  .task-section {
    grid-column: 2 / 3;
    border-top: 1px solid var(--text-300);
  }
  .side-bar-section {
    grid-row: 1 / 3;
  }
  .col {
    padding: var(--space-3x);
  }
}
@media (max-width: 650px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .side-bar-section {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
  .main-section {
    grid-row: 2 / 3;
    border-top: 1px solid var(--text-300);
    grid-column: 1 / 1;
  }
  .task-section {
    grid-row: 3 / 4;
    border-top: 1px solid var(--text-300);
    grid-column: 1 / 1;
  }
  .input-group {
    flex-wrap: wrap;
  }
}
